package views

templ Template(title string, body templ.Component ) {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<title>{ title } - Kulturia</title>
		</head>
		<body>
			@body
		</body>
	</html>
}

templ HelloContent(name string) {
	<div>Hello, { name }</div>
}
